<div class="row text-right image-profile" *ngIf="type=='block'">
    <figure>
        <div [imageSrc]="image" x-cropit [attr.id]="configId+'_IMAGE'" (saveImagen)="changeImage($event)">
            <div [hidden]="!image" class="cropit-preview center-block"></div>
            <div *ngIf="!image">
                <img [attr.src]="pathElements.warning" class="img-responsive center-block">
            </div>
            <div class="col-lg-12 margenes">
                <div class="col-lg-6 rotate">
                    <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw" title="Girar a la izquiera" [disabled]="!image && !edit"></button>
                    <button class="btn btn-box-tool fa fa-rotate-right rotate-cw" title="Girar a la derecha"  [disabled]="!image && !edit"></button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-5">
                    <input type="range" class="cropit-image-zoom-input"  [disabled]="!image && !edit"/>
                </div>
                <div class="col-lg-7 group-btn">
                    <input x-file type="file" [disabled]="!edit"/>
                    <button class="btn-i redondo btn btn-green-club" title="Guardar" type="button" (click)="saveImage($event)" [disabled]="!edit">
                        <i class="fa fa-save fa-lg"></i>
                    </button>&nbsp;
                    <button  class="btn-i redondo btn btn-green-club" title="Eliminar" type="button" (click)="changeImage()" [disabled]="!image && !edit">
                        <i class="fa fa-trash fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </figure>
</div>
<div *ngIf="type=='inline'">
    <input type="file" id="img-file" (change)="changeFilePath($event)">
    <div class="img-view" #inlineview>
        <div class="img-preview">
            <img [src]="image || pathElements.warning" alt="imagen">
        </div>
        <div class="img-info">
            <span class="img-name" #name></span>
            <span class="img-size" #size></span>
        </div>
        <label class="img-btn" for="img-file">
            <span>Cargar</span>
            <i class="fa fa-upload"></i>
        </label>

        <label class="img-btn bg-red" (click)="clear()">
            <span>Borrar</span>
            <i class="fa fa-trash"></i>
        </label>
    </div>
</div>