<div class="content-wrapper">
    <section class="content container">
        <div class="background-grandient {{classCol(10,10,11,12)}}">
            <div class="{{classCol(10,10,12,12)}}{{classOffset(1,1)}} margin-top-5">
                <form role="form">
                    <div class="tab-content">
                        <div class="tab-pane" [class.active]="step==1" role="tabpanel" id="step1">
                            <div class="row">
                                <div class="{{classCol(6,6,6,12)}} text-center margin-top-5">
                                    <h2>
                                        <i class="fa fa-spinner fa-spin"></i>&nbsp;Esperando al usuario
                                        <button (click)="openQR($event)" class="btn btn-success"
                                                title="Abrir en otra pestaña">
                                            <i class="glyphicon glyphicon-qrcode"></i>
                                        </button>
                                    </h2>
                                    <div class="text-center img-responsive">
                                        <qr-code [data]="getDataQr" [level]="'L'" [type]="4" [size]="400"></qr-code>
                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <div class="{{classCol(6,6,6,12)}} margin-top-5">
                                    <h1><strong class="letra-grande">CDGApp</strong></h1>
                                    <h1>Usa CDGApp en tu telefono para escanear el código</h1>
                                </div>
                            </div>
                            <div class="row margin-top-5">
                                <div class="{{classCol(6,6,6,12)}}">
                                    <div class="margin-top-5">
                                        <a [routerLink]="['/access/user']">
                                            <img width="60" [attr.src]="pathElements.btnUsuario">
                                            <strong>Usuarios</strong>
                                        </a>
                                    </div>
                                    <div class="margin-top-5">
                                        <img width="60" [attr.src]="pathElements.btnFamilia">
                                        <strong>Familia</strong>
                                    </div>
                                    <div class="margin-top-5">
                                        <img width="60" [attr.src]="pathElements.btnToallas">
                                        <strong>Toallas</strong>
                                    </div>
                                </div>
                                <div class="{{classCol(6,6,6,12)}}">
                                    <div class="margin-top-5">
                                        <img width="60" [attr.src]="pathElements.btnInvitados">
                                        <strong>Invitados</strong>
                                    </div>
                                    <div class="margin-top-5">
                                        <img width="60" [attr.src]="pathElements.btnCarrito">
                                        <strong>Carros de Golf</strong>
                                    </div>
                                    <div class="margin-top-5">
                                        <img width="60" [attr.src]="pathElements.btnServicios">
                                        <strong>Servicios</strong>
                                    </div>
                                </div>
                            </div>

                            <div hidden class="row">
                                <div class="col-lg-6 text-center">
                                    <h2>
                                        <i class="fa fa-camera"></i>
                                        &nbsp;Leer por camara
                                    </h2>
                                    <div>
                                        <video autoplay width="300" height="300"
                                               poster="assets/img/clubGolf/webcam.png"></video>
                                    </div>
                                    <div>
                                        <button [disabled]="QRCam" class="btn btn-success" (click)="openCam(event)">
                                            Iniciar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="myqr" hidden>
                                <div id="qr" class="row text-center vertical-center">
                                    <qr-code [data]="getDataQr" [level]="'L'" [type]="4" [size]="500"></qr-code>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" [class.active]="step==2" role="tabpanel" id="step2">
                            <div class="row margin-top-5">
                                <div class="{{classCol(6,6,6,6)}}">
                                    <table class="table color-golf">
                                        <thead>
                                        <tr>
                                            <th colspan="2" class="text-center"><strong>OPERACIÓN</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Fecha</td>
                                            <td>{{getFecha}}</td>
                                        </tr>
                                        <tr>
                                            <td>Hora</td>
                                            <td>{{getHora}}</td>
                                        </tr>
                                        <tr>
                                            <td>Numero de operación</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Usuario</td>
                                            <td>{{dataClient.sponsorName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Despachador</td>
                                            <td>{{myglobal.user.username}}</td>
                                        </tr>
                                        <tr>
                                            <td>Invitado</td>
                                            <td>{{dataClient.guestName || 'N/A'}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-lg-6">
                                    <form role="form" [formGroup]="form" (submit)="loadProduct($event)">
                                        <div class="form-group input-icon right">
                                            <i class="fa fa-qrcode text-white"></i>
                                            <input formControlName="code" class="form-control input-control"
                                                   placeholder="Escaner producto" type="text">
                                        </div>
                                    </form>
                                    <button class="btn  btn-green btn-block" (click)="saveProduct($event)">
                                        <i class="fa fa-save"></i>&nbsp;Terminar
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <table class="table color-golf">
                                    <thead>
                                    <tr>
                                        <th class="text-center">CODIGO DE BARRAS</th>
                                        <th class="text-center">PRODUCTO</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngIf="getObjectKeys(listProduct).length>0">
                                    <tr *ngFor="let code of getObjectKeys(listProduct)">
                                        <td>
                                            <button class="btn btn-box-tool" title="Eliminar"
                                                    (click)="deleteKeyProduc(code)">
                                                <i class="fa fa-trash fa-2x text-white"></i>
                                            </button>
                                            &nbsp;{{code}}
                                        </td>
                                        <td *ngIf="listProduct[code].id">{{listProduct[code].productTypeTitle}}</td>
                                        <td *ngIf="listProduct[code].wait"><i class="fa fa-spinner fa-spin"></i>&nbsp;Esperando
                                            respuesta
                                        </td>
                                        <td *ngIf="listProduct[code].error"><i class="fa fa-warning"></i>&nbsp;{{listProduct[code].error}}
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>Total de Items</td>
                                        <td>{{getObjectKeys(listProduct).length}}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button (click)="openQR($event);step=1" type="button"
                                            class="btn btn-default prev-step">Volver
                                    </button>
                                </li>
                                <li>
                                    <button (click)="saveProduct($event)" type="button"
                                            class="btn btn-success next-step">
                                        <i class="fa fa-save"></i>&nbsp;Terminar
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" [class.active]="step==3" role="tabpanel" id="step3">
                            <h1>Operacion guardada.</h1>

                            <ul class="list-inline pull-right">
                                <li>
                                    <button (click)="step=1" type="button"
                                            class="btn btn-primary next-step">Iniciar
                                    </button>
                                </li>
                            </ul>

                        </div>
                        <div class="tab-pane" [class.active]="step==4" role="tabpanel" id="complete">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>