*:not(.box .box-body .box-header){
    border-radius: 0px !important;
    margin: 0px;
    padding: 0px;
    height: inherit;
}

.box
{
    border-radius: 5px !important;
    overflow: hidden;
}

.box-header
{
    background: #488c6c;
    /*border-bottom: 1px solid #0d5628;*/
    color: #fff;
}

.box-body
{
    padding: 0px;
    margin: 0px;
}

/*##########################*/

.list-group
{
    border-radius: 0px !important;
    margin: 0px !important;
}

.list-group-item
{
    padding: 0px;
    margin: 0px;
    border: none;
}

.list-group-item-heading .data-detail{
    margin-left: 8.33333333% !important;
}

.data-detail
{
    height: inherit !important;
}

.data-detail-item
{
    height: inherit !important;
}

.item-content{

}

.action-body
{
    padding: 5px;
}

.item-content-edit
{
 padding: 10px;
    margin: 15px;
}