<div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{model.title}}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="list-content">
                <ul>
                    <li *ngFor="let elem of model.dataList.list">
                        <div class="list-row">
                            <div class="data-detail col-md-11 box-default">
                                <span *ngFor="let key of this.getKeysDataVisible()" [class]="'col-md-'+tamElem">
                                    <span *ngIf="model.rules[key].type =='date'">
                                        {{formatDate(elem[key],model.rules[key].format?model.rules[key].format.formatView:'DD/MM/YYYY',false,elem.id)}}
                                    </span>
                                    <span *ngIf="model.rules[key].object">
                                        {{elem[model.rules[key].keyDisplay]}}
                                    </span>
                                </span>
                            </div>
                            <button class="col-md-1 btn btn-green btn-expand-data">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="list-edit">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-footer">
        </div>
    </div>
</div>