<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{data.model.ruleObject.title}}</h3>
        <span *ngIf="data.model.dataList.list" class="badge">
            {{data.model.dataList.list.length}}
        </span>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body" data-spy="scroll" data-offset="50">
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading col-md-12">
                <div class="col-md-11 data-detail">
                    <div [class]="'data-detail-item col-md-'+(12/visibleKeys.length)" *ngFor="let key of visibleKeys">
                        {{data.model.rules[key].title}}
                    </div>
                </div>
            </li>

            <template [ngIf]="data.model && data.model.dataList">
            <li class="col-md-12 list-group-item" *ngFor="let elem of data.model.dataList.list">
                <div class="col-md-12 item-content">
                    <div class="col-md-11 data-detail">
                        <div [class]="'data-detail-item col-md-'+(12/visibleKeys.length)" *ngFor="let key of visibleKeys">
                            <!--CAMBIAR Y CREAR UN ARREGLO DE VIEWS-->
                            <span *ngIf="data.model.rules[key].type =='date'">
                                {{formatDate(elem[key],data.model.rules[key].format?data.model.rules[key].format.formatView:'DD/MM/YYYY',false,elem.id)}}
                            </span>
                            <span *ngIf="data.model.rules[key].object">
                                {{elem[data.model.rules[key].keyDisplay]}}
                            </span>
                        </div>
                    </div>
                    <button *ngIf="data.actions!==undefined" class="col-md-1 btn btn-green btn-edit" (click)="dataSelect = (dataSelect==elem)?{}:elem">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </div>
                <div *ngIf="data.actions!==undefined" class="item-content-edit">
                    <ul class="list-actions list-group" *ngIf="dataSelect == elem">
                        <li class="list-actions-item" *ngFor="let action of getKeys(data.actions)">
                            <div class="box action">
                                <div class="box-header action-header">
                                    <h4 class="box-title action-title">{{data.actions[action].title}}</h4>
                                    <button (click)="actionSelect = (actionSelect==action)?'':action" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <div class="box-body action-body">
                                    <form-view class="action-form" *ngIf="actionSelect==action || getKeys(data.actions).length == 1"
                                               (getInstance)="setForm($event)"
                                               [params]="getModelAction(action).paramsSave"
                                               [rules]="filterRules(action)">
                                        >
                                    </form-view>
                                </div>
                                <div class="box-footer action-footer">
                                    <button class="btn btn-green pull-right" (click)="submit($event,action)">Procesar</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            </template>
        </ul>
    </div>
    <div class="box-footer">
    </div>
</div>