<section class="content" *ngIf="model">
    <div class="section">
        <chart-view [chartData] = "chvwEntries"  class="{{db.classCol(6,6)}}"></chart-view>
        <chart-view [chartData] = "chvwProducts" class="{{db.classCol(6,6)}}"></chart-view>
        <chart-view [chartData] = "chvwVehicles" class="{{db.classCol()}}"></chart-view>
        <chart-view [chartData] = "chvwTypes"    class="{{db.classCol()}}"></chart-view>
    </div>

    <div class="section">
        <list-action [data]="guestData"  *ngIf="model.permissions['guest']"></list-action>
        <list-action [data]="recordData" *ngIf="model.permissions['vehicle']"></list-action>
        <list-action [data]="tradeData"  *ngIf="model.permissions['trade']"></list-action>
    </div>
</section>