<section class="content" *ngIf="model">
    <div class="chart-box">
        <div class="chart-header">

        </div>
        <div class="chart-body">
            <div class="chart-item {{db.classCol(6,6)}}">
                <chart-view [chartData] = "chvwEntries"></chart-view>
            </div>
            <div class="chart-item {{db.classCol(6,6)}}">
                <chart-view [chartData] = "chvwProducts"></chart-view>
            </div>

            <div class="chart-item {{db.classCol()}}">
                <chart-view [chartData] = "chvwVehicles"></chart-view>
            </div>
        </div>
    </div>

    <div id="reader" class="reader-hide" *ngIf="model.permissions['qr'] && model.qr">
        <button class="btn btn-hide btn-green" (click)="readerClick()">
            <i [class]="'fa fa-chevron-'+((qrHidden)?'left':'right')"></i>
        </button>
        <div class="box collapsed-box pull-right">
            <div class="box-header">
                <form (submit)="searchQr($event)" class="form-horizontal">
                    <div class="form-group">
                        <label class=" box-title reader-title control-label {{db.classCol(2,2,2)}}" for="validQr">QR:</label>
                        <div class="{{db.classCol(10,10,10)}}">
                            <input class="form-control" placeholder="Validar QR" type="text"  id="validQr" autofocus>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <div class="reader-detail" *ngIf="model.qr.dataList && model.qr.dataList.id">
                    <div *ngFor="let key of getObjectKeys(model.qr.rules)">
                        <div *ngIf="model.qr.rules[key] && model.qr.rules[key].visible">
                            {{model.qr.rules[key].title+": "}}
                            <rule-view [key]="key" [data]="model.qr.dataList" [model]="model.qr" [disabled]="true"></rule-view>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-green" *ngIf="model.qr.dataList && model.qr.dataList.id" (click)="loadAttendings($event)">
                    Procesar
                </button>
            </div>
        </div>
    </div>

    <div class = "" *ngIf="model.permissions['guest']">
        <list-action [data]="guestData"></list-action>
    </div>

    <div class = "" *ngIf="model.permissions['vehicle']">
        <list-action [data]="recordData"></list-action>
    </div>

    <div class = "" *ngIf="model.permissions['trade']">
        <list-action [data]="tradeData"></list-action>
    </div>

</section>