#reader
{
    border-radius: 5px !important;
    position: fixed;
    width: 30%;
    top: 50px;
    right: 0px;
    overflow: hidden;
    transition: 1s;
    z-index: 1;
}

#reader .box{
    width: 84%;
    display: inline-block;
    border-radius: 0px 5px 5px 5px !important;
    overflow: hidden;
    border: 1px solid #488c6c;
    margin: 0px;
}

.reader-title{
    line-height: 30px;
    padding: 0px;
    font-size: 14px;
}

.reader-input{
    height: 30px;
    padding: 0px;
}

.reader-input input{
    height: 30px;
}

#reader .box-body, #reader .box-footer
{
    overflow: hidden;
}

#reader .btn-hide{
    width: 16%;
    height: 100% !important;
    display: inline-block;
    border-radius: 5px 0px 0px 5px !important;
    border: 1px solid #488c6c;

}

.reader-hidden
{
    transform: translateX(85%);
}

.section{ overflow-y: auto; }

.section>*{
    padding: 5px;
    overflow: hidden;
    display: flex;
}

chart-view{
    height: 350px;
    margin: 0;
}

.form-horizontal .form-group { margin: 0px; }

@media (max-width: 425px){
    .reader-title{
        display: none;
    }

}