<div [@animation_0]="'true'" class="content">
    <div class="box" *ngIf="registerSteps">
        <div class="box-header with-border">
            <h4 class="box-title">{{viewOptions["title"]}}</h4>
        </div>

        <div class="box-body" *ngIf="registerSteps[currentStep]">
            <div *ngIf="registerSteps[currentStep].model.dataList" class="registerStep box">
                <div class="box-header with-border">
                    <h4 class="box-suptitle">{{registerSteps[currentStep].title}}</h4>
                </div>
                <div class="box-body">
                    <div *ngIf="registerSteps[currentStep].form">
                        <div *ngFor="let n of registerSteps[currentStep].form.nForms let i=index" class="step-form box">
                            <div class="box-header with-border form-header">
                                <div class="tools" *ngIf="registerSteps[currentStep].form.functions">
                                    <button *ngFor="let function of registerSteps[currentStep].form.functions" class="btn-box-tool btn pull-right" (click)="function.callback(this,{'index':i})">
                                        <template [ngIf]="function.icons">
                                            <i *ngFor="let icon of function.icons" class="fa {{icon}}"></i>
                                            {{function.text}}
                                        </template>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body form-body">
                                <form-view [params] = "registerSteps[currentStep].model.paramsSave"
                                           [rules]  = "registerSteps[currentStep].model.rulesSave"
                                           (getInstance) = "saveStepForm($event,i)"
                                ></form-view>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer" *ngIf="registerSteps[currentStep].functions">
                    <button *ngFor="let function of registerSteps[currentStep].functions" class="btn-step btn btn-blue pull-right" (click)="function.callback(this)">
                        <template [ngIf]="function.icons">
                            <i *ngFor="let icon of function.icons" class="fa {{icon}}"></i>
                            {{function.text}}
                        </template>
                    </button>
                </div>
            </div>
            <div *ngIf="!registerSteps[currentStep].model.dataList">
                <div style="margin: 0 auto">
                    <i class="fa fa-spiner fa-spin"></i>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <button *ngIf="currentStep>0" class="btn btn-red pull-left" (click)="backStep()">Anterior</button>
            <button *ngIf="currentStep < registerSteps.length-1" [disabled]="!validForm()" class="btn btn-green pull-right" (click)="nextStep()">Siguiente</button>
        </div>
    </div>
</div>